<h1>For Loop contextual Variables Demo</h1>
@for(user of users; track user;){
<h1>Total Count is {{ $count }}</h1>
@if($first){
<h3 style="background-color: red; color: white;">
  {{ $index }} number user name is {{ user }}
</h3>
} @if($last){
<h3 style="background-color: green; color: white;">{{ user }}</h3>
} @else {
<h3 style="background-color: blue; color: white;">{{ user }}</h3>
} } @empty {
<h1>No Users Found.</h1>
}
<hr />
@for(user of users; track user;) { @if($odd) {
<h2 style="background-color: red; color: white;">{{ user }}</h2>
} @if($even) {
<h2 style="background-color: green; color: white;">{{ user }}</h2>
} }
<hr />
<h1>Two Way Binding Demo</h1>
<input type="text" placeholder="enter user name" [(ngModel)]="name" />
<h1>Welcome {{ name }}</h1>
<hr />
<h1>Todo List App Demo</h1>
<h1>Add Todo</h1>
<input type="text" [(ngModel)]="task" />
<button (click)="addTask()">Add Todo</button>
<ul
  style="display: flex; justify-content: space-between; list-style-type: none"
>
  <li>No</li>
  <li>Todo Name</li>
  <li>Action</li>
</ul>
@for (todo of todoList; track todo.id) {
<ul
  style="display: flex; justify-content: space-between; list-style-type: none"
>
  <li>{{ $index + 1 }}</li>
  <li>{{ todo.name }}</li>
  <li><button (click)="deleteTask(todo.id)">Delete Task</button></li>
</ul>
}
<hr />
<h1>Dyanmic Styles Demo</h1>
<h1 [style.background-color]="bgColor">Dynamic Background Color Changes</h1>
<h1 [style.fontSize.px]="toggle ? bigFontSize : samllFontSize">
  Dynamic Font Size Changes
</h1>
<button (click)="changeFont()">Change Font Size</button>
<hr />
<h1>ngIf and ngIf=expression;else template Name Demo</h1>
<div *ngIf="toggle">
  <h1>Toggle is True</h1>
</div>
<button (click)="handleToggle()">Change Toggle Value</button>
<div *ngIf="!toggle; else elseBlock">
  <h1>Toggle is False</h1>
</div>
<ng-template #elseBlock><h1>Toggle is True</h1></ng-template>
<ul>
  @for (user of users; track user) {
    <li>{{ user }}</li>
  }
</ul>
<h1>Change Color By Tapping Below Buttons Dynamically use of ngSwitch Directive</h1>
<div>
  <button (click)="handleColorChanged('red')">Red</button>
  <button (click)="handleColorChanged('yellow')">Yellow</button>
  <button (click)="handleColorChanged('green')">Green</button>
  <button (click)="handleColorChanged('blue')">Blue</button>
  <button (click)="handleColorChanged('pink')">Pink</button>
  <button (click)="handleColorChanged('brown')">Brown</button>
  <button (click)="handleColorChanged('default')">Defult Color</button>
</div>
<br/>
<div [ngSwitch]="color">
  <div *ngSwitchCase="'red'" style="background-color: red; color: white;">Red</div>
  <div *ngSwitchCase="'yellow'" style="background-color: yellow; color: black;">Yellow</div>
  <div *ngSwitchCase="'green'" style="background-color: green; color: white;">Green</div>
  <div *ngSwitchCase="'blue'" style="background-color: blue; color: white;">Blue</div>
  <div *ngSwitchCase="'pink'" style="background-color: pink; color: white;">Pink</div>
  <div *ngSwitchCase="'brown'" style="background-color: brown; color: white;">Brown</div>
  <div *ngSwitchDefault>No Matching Color Found.</div>
</div>

