 nav{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}
ul{
    display: flex;
    list-style-type: none;
    width: 300px;
    justify-content: space-between;
}
a{
text-decoration: none;
}
.activeTab{
    background-color: blue;
    color: white;
}   