<hr />
<p>Rajver singh login works!!!</p>
<h1>
  Demo code for button click and binding between Typescript and Html code.
</h1>
<h2 style="background-color: aquamarine">{{ experiance }}</h2>
<h1>{{ email }}</h1>
<input
  type="text"
  id="textBox"
  placeholder="enter email address"
  style="border: 1px; background-color: antiquewhite; border-color: blue"
  (input)="handleEvents($event)"
  #emailField
/>
<button type="button" (click)="getEmail(emailField.value)">Get Email</button>
<button type="button" (click)="calculateNumbers(10, 20)">Calculate Me</button>
<button type="button" (click)="handleButtonClick()">
  {{ !toggle ? "Show Red Div" : "Show Green Div" }}
</button>
@if(toggle){
<div style="background-color: red; height: 100px; width: 100px"></div>
}@else {
<div style="background-color: green; height: 100px; width: 100px"></div>
}
<hr />
<h1 style="text-align: center">Counter App</h1>
<div class="mainContainer">
  <h1 class="count">{{ count }}</h1>
  <div
    (mouseenter)="handleEvents($event)"
    (mouseleave)="handleEvents($event)"
    (click)="handleEvents($event)"
  >
    <button class="btn btn-red" (click)="handleButtonClicked('Increment')">
      Increment
    </button>
    <button class="btn btn-green" (click)="handleButtonClicked('Reset')">
      Reset
    </button>
    <button
      class="btn btn-blue"
      [disabled]="buttonDisabled"
      (click)="handleButtonClicked('Decrement')"
    >
      Decrement
    </button>
  </div>
</div>
<hr />
<h1>Demo code for using For Loop in Html with signal and effect</h1>
<table class="fixed">
  <col width="20%" />
  <col width="20%" />
  <col width="20%" />
  <col width="20%" />
  <col width="20%" />

  @for(student of students; track $index) {
  <tr
    style="
      background-color: aqua;
      color: black;
      padding: 20px;
      text-align: center;
      width: 100%;
    "
  >
    {{
      $index
    }}
  </tr>
  <td
    style="
      background-color: red;
      color: white;
      padding: 20px;
      text-align: center;
    "
  >
    {{ student.name }}
  </td>
  <td
    style="
      background-color: green;
      color: white;
      padding: 20px;
      text-align: center;
    "
  >
    {{ student.age }}
  </td>
  <td
    style="
      background-color: blue;
      color: white;
      padding: 20px;
      text-align: center;
    "
  >
    {{ student.grade }}
  </td>
  <td>
    <button name="button" (click)="getSelectedStudentName(student.name)">
      Get Selected Student Name
    </button>
    <h3>Read Only Signal Value {{readOnlySignal()}}</h3>
  </td>
  <td>
    <h1>Age : {{ageCount()}}</h1>
    <button name="incButton" (click)="ageCount.set(ageCount()+1)">
      Increment Age
    </button>
    <button name="decButton" (click)="ageCount.set(ageCount()-1)">
        Decrement Age
      </button>
  </td>
  }
</table>
<app-profile></app-profile>
