<p>Rajver singh login works!!!</p>
<h2 style="border-color: red; padding: 10; color: blue;">{{title}}</h2>
<h2 style="background-color: aquamarine;">{{experiance}}</h2>
<input type="text" id="textBox" style="border: 1px; background-color: antiquewhite;border-color: blue;" />
<button type="button" (click)="calculateNumbers(10, 20)">Calculate Me</button>
<button type="button" (click)="handleButtonClick()">Clic Me</button>
<h1 >Counter App</h1>
<div class="mainContainer">
    <h1 class="count">0</h1>
    <div>
    <button class="btn btn-red">Increment</button>
    <button class="btn btn-green">Reset</button>
    <button class="btn btn-blue">Decrement</button>
    </div>
</div>
