<h1>Welcome to Mr {{username}} Profile Page!</h1>
<h1>Reactive Form Demo</h1>
<form [formGroup]="profileForm" (ngSubmit)="handleSubmit()">
<div>
  <label for="name">Name:</label><br>
  <input type="text" id="name" formControlName="name" placeholder="Enter Name">
</div><br>
<div>
    <label for="email">Email:</label><br>
    <input type="text" id="email" formControlName="email" placeholder="Enter Eamil Address">
  </div><br>
  <button type="submit">Submit</button><br><br>
  <button type="button" (click)="updateData()">Set Default Values</button>
  <h1>Name is {{profileForm.controls.name.value}} and eamil address is {{profileForm.controls.email.value}}.</h1>
</form>

