<h1>Welcome to Mr {{username}} Profile Page!</h1>
<h1>Reactive Form Demo</h1>
<form action="" method="post">
<div>
  <label for="name">Name:</label><br>
  <input type="text" name="name" [formControl]="name" placeholder="Enter Name">
</div><br>
<div>
    <label for="password">Password:</label><br>
    <input type="text" name="email" [formControl]="email" placeholder="Enter Eamil Address">
  </div><br>
  <button type="button" (click)="submitData()">Submit</button><br><br>
  <button type="button" (click)="updateData()">Set Default Values</button>
  <h1>Name is {{name.value}} and eamil address is {{email.value}}.</h1>
</form>

