/* You can add global styles to this file, and also import other style files */
/*Setting global css for all h1 tags in application*/
h1{
    background-color: cadetblue;
    padding: 5px;
    color: black;
}